
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button (click)="addBeneficiaries()" class="btn btn-warning btn-fill text-sm-right">Add Beneficiaries Test</button>
                <button mat-raised-button (click)="addBeneficiary()" class="btn btn-warning btn-fill text-sm-right">Add Beneficiary Test</button>
                <button mat-raised-button (click)="removeBeneficiary()" class="btn btn-warning btn-fill text-sm-right">Remove Beneficiary Test</button>
                <button mat-raised-button (click)="updateBeneficiary()" class="btn btn-warning btn-fill text-sm-right">Update Beneficiary Test</button>
                <button mat-raised-button  (click)="getBeneficiary()" class="btn btn-warning btn-fill text-sm-right">Get Beneficiary Test</button>
                <button mat-raised-button (click)="getBeneficiaries()" class="btn btn-warning btn-fill text-sm-right">Get Beneficiaries Test</button>
            </div>
        </div>
    </div>
</div>
