<div class="m-0 p-0">
    <div class="loading" *ngIf="busy">
        <mat-progress-spinner [color]="'warning'" class="loader" mode="indeterminate"></mat-progress-spinner>
    </div>
    <div class="mx-2" style="align-items: center">
        <p>Download All Recharges For User</p>
    </div>

    <div class="container mx-2">
        <div class="row">
            <mat-form-field class="col-md-8">
                <mat-label>Choose a Start Date</mat-label>
                <input matInput id="stardate" name="startdate" [matDatepicker]="picker" [(ngModel)]="startDate"
                       (click)="picker.open()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="col-md-8">
                <mat-label>Choose an End Date</mat-label>
                <input matInput id="enddate" name="enddate" [matDatepicker]="picker2" [(ngModel)]="endDate"
                       (click)="picker2.open()">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row">
            <div class="col-md-4 my-2">
                <button class="btn btn-warning" (click)="onDownload()">
                    Download
                </button>
            </div>
        </div>
    </div>

    <ng-template #loading>
        Loading Please Wait...
    </ng-template>
</div>
