<div class="card">
    <div class="loading" *ngIf="busy">
        <mat-progress-spinner [color]="'warning'" class="loader" mode="indeterminate"></mat-progress-spinner>
    </div>
    <form [formGroup]="balanceForm" (ngSubmit)="onSubmit(balanceForm)" class="form-horizontal">
        <div class="card-body">

            <div class="row">
                <label class="col-md-2 col-form-label">Type</label>
                <div class="col-md-4" style="max-width: 150px;">
                    <mat-form-field>
<!--                        Mat-Select / Mat-Option does not work well in a Mat-Dialog it freezes hence we use select and Option with-->
<!--                        the matNativeControl option-->
                        <select value="selectedType" formControlName="type" id = "type" (change)="onChange($event)" matNativeControl >
                            <option *ngFor="let type of typeOptions" [value]="type.id">
                                {{type.description}}
                            </option>

                        </select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2 col-form-label">Balance</label>
                <div class="col-md-10">
                    <mat-form-field>
                        <input matInput formControlName="balance" placeholder="Add to Balance" type="number" value=0 required #input>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2 col-form-label">Narrative</label>
                <div class="col-sm-10">
                    <mat-form-field class="example-full-width has-label">
                        <textarea matInput formControlName="narrative" required></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="card-footer text-center">
                        <button mat-raised-button type="submit" class="btn btn-outline-warning btn-fill text-sm-right" #submit>
                            OK
                        </button>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card-footer text-center">
                        <button mat-raised-button class="btn btn-outline-warning btn-fill text-sm-right" type="button"
                                (click)="onCancel()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
