<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning card-header-icon">
                        <button class="btn  btn-warning btn-lg pull-right mt-4" (click)="onGenerate()">Create Cluster</button>
                        <div class="card-icon">
                            <i class="material-icons">credit_score</i>
                        </div>
                        <h4 class="card-title">Clusters</h4>
                    </div>
                    <div class="card-body">
                        <mat-form-field style="max-width: 300px;">
                            <input  matInput placeholder="Search Clusters" #input>
                        </mat-form-field>

                        <div class="table-responsive">

                            <mat-table matSort matSortDirection="asc" [dataSource]="datasource" *ngIf="!(datasource.loading$ | async); else loading">

                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
                                    <mat-cell *matCellDef="let cluster">{{cluster.id}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <mat-header-cell mat-header-cell *matHeaderCellDef >Name</mat-header-cell>
                                    <mat-cell *matCellDef="let cluster">{{cluster.name}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="amount">
                                    <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
                                    <mat-cell *matCellDef="let batch">{{batch.amount |  currency: "₦":"symbol":"1.0-0"}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="balance">
                                    <mat-header-cell *matHeaderCellDef>Balance</mat-header-cell>
                                    <mat-cell *matCellDef="let cluster">{{cluster.balance |  currency: "₦":"symbol":"1.0-0"}}</mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
                                    <mat-cell mat-cell *matCellDef="let cluster" class="td-actions text-right">
                                        <i class="material-icons" style="color: #4CAF50; cursor: pointer;" (click)="onView(cluster.id)">
                                            <span matTooltip="View / Edit Cluster"> wysiwyg </span>
                                        </i>
                                        <i class="material-icons" style="color: #4CAF50; cursor: pointer;" (click)="onViewChild(cluster.id)">
                                            <span matTooltip="View Child Batches"> calendar_view_month </span>
                                        </i>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                            </mat-table>

                            <mat-paginator #paginator
                                           [length]="datasource.totalSize"
                                           [pageIndex]="datasource.page"
                                           [pageSize]="datasource.pageSize"
                                           [pageSizeOptions]="[20, 40, 60, 80, 100]"
                                           (page)="logEvent($event)"
                            >
                            </mat-paginator>
                            <ng-template #loading>
                                Loading Please Wait...
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
